  ::-webkit-scrollbar-thumb {
    background: rgba(105, 105, 105, 0.267)!important;
    border-radius: 6px;
    border: 2px solid hsl(var(--background));
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(105, 105, 105, 0.267)!important;
  }